<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AutoModPlugins.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="AutoModPlugins.Properties.AutoLegality" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <AutoModPlugins.Properties.Settings>
            <setting name="LatestIP" serializeAs="String">
                <value>111.111.111.111</value>
            </setting>
        </AutoModPlugins.Properties.Settings>
        <AutoModPlugins.Properties.AutoLegality>
            <setting name="GPSSBaseURL" serializeAs="String">
                <value>flagbrew.org</value>
            </setting>
            <setting name="SetMatchingBalls" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SetAllLegalRibbons" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseTrainerData" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseCompetitiveMarkings" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseMarkings" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseXOROSHIRO" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LatestIP" serializeAs="String">
                <value>192.168.1.65</value>
            </setting>
            <setting name="PrioritizeEncounters" serializeAs="String">
                <value>Egg</value>
            </setting>
            <setting name="ForceSpecifiedBall" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableEasterEggs" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PrioritizeGame" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="USBBotBasePreferred" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PriorityGameVersion" serializeAs="String">
                <value>Any</value>
            </setting>
            <setting name="PromptForSmogonImport" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SetBattleVersion" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AllowTrainerOverride" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Timeout" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="IncludeForms" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SetShiny" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SetAlpha" serializeAs="String">
                <value>False</value>
            </setting>
        </AutoModPlugins.Properties.AutoLegality>
    </userSettings>
</configuration>